<!DOCTYPE html>
<html>
<head>
    <title>Keras Training Status Page</title>

    <style type="text/css">
        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>

<h1>Keras Status</h1>

<br>

<p>Net</p>

<table>
    <tr>
        <th>NET</th>
        <th>Init Time</th>
        <th>End Time</th>

        <th>Acc</th>
        <th>Val Acc</th>
        <th>Graph</th>
        <th>Model</th>
        <th>Report</th>
         <th>Delete</th>
   </tr>
    {% for net in data|sort %}
    <tr>
        <td> {{net}}</td>
        <td>{{data[net]['init']}}</td>
        <td>{{data[net]['end']}}</td>
        <td>{{data[net]['acc']}}</td>
        <td>{{data[net]['val_acc']}}</td>
        <td>
            <form action="/Graph" method="post">
            <button type="submit" name="graph"  value={{net}}> Graph </button>
            </form>
        </td>
       <td>
           <form action="/Model" method="post">
               <button type="submit" name="model"  value={{net}}> Model</button>
            </form>
        </td>
        <td>
           <form action="/Report" method="post">
               <button type="submit" name="model"  value={{net}}> Report</button>
            </form>

        </td>
      <td>
           <form action="/Delete" method="post">
               <button type="submit" name="delete"  value={{net}}> Delete</button>
            </form>

        </td>
    </tr>
    {% endfor %}
</table>

</body>
</html>
