<!DOCTYPE html>
<html>
<head>
    <title>Keras Training Status Page</title>

    <style type="text/css">
        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>

<h1>Keras Status</h1>

<br>

<p>Net</p>

<table>
    <tr>
        <th>NET</th>
        <th>host</th>
        <th>Init Time</th>
        <th>Upd Time</th>
        <th>Epoch</th>
        <th>Acc</th>
        <th>+/-</th>
        <th>Val Acc</th>
        <th>+/-</th>
        <th>Graph</th>
        <th>Model</th>
    </tr>
    {% for net in data|sort %}
    <tr>
        <td> {{net}}</td>
        <td>{{data[net]['host']}}</td>
        <td>{{data[net]['init']}}</td>
        <td>{{data[net]['upd']}}</td>

        <td>{{data[net]['epoch']}}</td>
        <td>{{data[net]['acc']}}</td>
        {% if data[net]['acc_dir'] %}
        <td>+</td>
       {% else %}
        <td>-</td>
        {% endif %}
        <td>{{data[net]['val_acc']}}</td>
        {% if data[net]['val_acc_dir'] %}
        <td>+</td>
       {% else %}
        <td>-</td>
        {% endif %}
        <td>
            <form action="/Graph" method="post">
            <button type="submit" name="graph"  value={{net}}> Graph </button>
            </form>
        </td>
       <td>
           <form action="/Model" method="post">
               <button type="submit" name="model"  value={{net}}> Model</button>
            </form>

        </td>
    </tr>
    {% endfor %}
</table>


<p>Best Models</p>

<table>
    <tr>
        <th>NET</th>
        <th>Acc</th>
        <th>Val Acc</th>
        <th>Graph</th>
        <th>Model</th>
    </tr>
    {% for net in old|sort %}
    <tr>
        <td> {{net}}</td>
        <td>{{old[net]['acc']}}</td>
        <td>{{old[net]['val_acc']}}</td>
        <td>
             <form action="/Graph" method="post">
            <button type="submit" name="graph"  value={{net}}> Graph</button>
            </form>
        </td>
       <td>
           <form action="/Model" method="post">
               <button type="submit" name="model"  value={{net}}> Model</button>
            </form>

        </td>
    </tr>
    {% endfor %}
</table>

</body>
</html>
